#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 #s-NOME_DP {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow-x: hidden;
}
#s-914c5af5-ca9c-4cf4-b51d-c986f3202629 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}