#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-arrow-back_5 {
  -ms-transform: rotate(180.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Table_5 {
  border-collapse: separate;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Table_1 {
  border-collapse: separate;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Table_2 {
  border-collapse: separate;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Table_3 {
  border-collapse: separate;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Table_4 {
  border-collapse: separate;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Table_6 {
  border-collapse: separate;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow-x: hidden;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}