#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-arrow-back_5 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-950d68ce-06c3-4539-ac47-eb9b1b785d6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}