#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow-x: hidden;
}
#s-b50c7ec1-ef10-4ec5-b3cd-d09fdc5046ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}