#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow-x: hidden;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}