#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}