#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-BG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 361px;
  height: 640px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 357px;
  height: 111px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_2 {
  position: absolute;
  top: 114px;
  left: 0px;
  width: 356px;
  height: 522px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_72 > svg {
  width: 46px;
  height: 46px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_72 {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_6 {
  position: absolute;
  top: 572px;
  left: 0px;
  width: 357px;
  height: 64px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_6 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_19 > svg {
  width: 46px;
  height: 46px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_19 {
  position: absolute;
  top: 38px;
  left: 158px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_31 > svg {
  width: 46px;
  height: 46px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_31 {
  position: absolute;
  top: 38px;
  left: 280px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_1 {
  position: absolute;
  top: 610px;
  left: 179px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Contato {
  position: absolute;
  top: 117px;
  left: 0px;
  width: 360px;
  height: 76px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 356px;
  height: 72px;
  background-color: #666666;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_2 > svg {
  width: 36px;
  height: 36px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_2 {
  position: absolute;
  top: 20px;
  left: 33px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_2 {
  position: absolute;
  top: 20px;
  left: 93px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 20.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Contato_1 {
  position: absolute;
  top: 192px;
  left: 0px;
  width: 360px;
  height: 76px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 356px;
  height: 72px;
  background-color: #666666;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_3 > svg {
  width: 36px;
  height: 36px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_3 {
  position: absolute;
  top: 20px;
  left: 33px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_3 {
  position: absolute;
  top: 20px;
  left: 93px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 20.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Contato_2 {
  position: absolute;
  top: 267px;
  left: 0px;
  width: 360px;
  height: 76px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 356px;
  height: 72px;
  background-color: #666666;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_4 > svg {
  width: 36px;
  height: 36px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_4 {
  position: absolute;
  top: 20px;
  left: 33px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_4 {
  position: absolute;
  top: 20px;
  left: 93px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 20.0pt;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_96 > svg {
  width: 46px;
  height: 46px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_96 {
  position: absolute;
  top: 581px;
  left: 244px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_77 > svg {
  width: 46px;
  height: 46px;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 #s-Image_77 {
  position: absolute;
  top: 581px;
  left: 66px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#simulation {
  overflow-x: hidden;
}
#s-bc069e3c-d7e8-4eea-89ee-f394732cb431 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}