#s-f75a4c85-71e9-42be-8421-8637e6855201 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f75a4c85-71e9-42be-8421-8637e6855201 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f75a4c85-71e9-42be-8421-8637e6855201 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f75a4c85-71e9-42be-8421-8637e6855201 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f75a4c85-71e9-42be-8421-8637e6855201 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow-x: hidden;
}
#s-f75a4c85-71e9-42be-8421-8637e6855201 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}